# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Comiled Python
*.pyc

MMC/tables/.frejus*
MMC/MMC/.frejus*
MMC/MMC/mmc.jar

taurunner.egg-info/

*/__pycache__/*
taurunner/__pycache__/

*ipynb_checkpoints/
taurunner/resources/proposal_tables/dE*
taurunner/resources/proposal_tables/dN*
taurunner/resources/proposal_tables/Epair*
taurunner/resources/proposal_tables/Photo*
taurunner/resources/proposal_tables/time*
taurunner/resources/proposal_tables/displacement*
taurunner/resources/proposal_tables/contrand*
taurunner/resources/proposal_tables/decay*
taurunner/resources/proposal_tables/interaction*
taurunner/resources/proposal_tables/*
